/*-------------------- Fonts */
.header-text{
    font-family: "Roboto",sans-serif;
    font-size: 2em;
    text-align: center;
    color: aliceblue;
}
.container-header{
    font-size: 2em;
    margin:0; 
}
.mini-header{
    font-size: 1.5em;
}
.content-text{
    font-family: "Lato",sans-serif;
    font-size: 1em;
    color: aliceblue;
    text-align: center;
}

.level-title{
    color: aliceblue;
    font-size: 1.2em;
    text-align: center;
}
/*-------------------- HVR.CSS */

.hvr-underline-from-center::before{
    background-color: aliceblue
}
.hvr-underline-from-center{
    display: block;
}
/*-------------------- Body */

/*-------- Code adapted from this link - https://css-tricks.com/perfect-full-page-background-image/     */
.bg-image{  
    min-height: 100%;
    height: auto;
    width: 100%;
    min-width: 1280px;
    position: fixed;
    top: 0;
    left: 0;
}
@media(max-width: 1280px){
    .bg-image{
        left: 50%;
        margin-left: -640px; 
    }
}
@media(min-width: 576px){
    body{
        overflow: hidden;
    }
}

/*------ End of Adapted Code */
/*-------------------- Basic formatting */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.full-screen{
    margin: 0;
}

@media(min-width: 576px){
    .full-screen{
        height: 100vh;
    }
}
/*-------------------- Header */
.header-container{
    background-color: rgba(0,0,0,.5);
    padding: 20px;
    height: 100%
}
@media(min-width: 576px){
    .header-container{
        min-height: 100vh;
    }
}

.header-text-container{
    margin: 0 auto;
    
}

.logo-img{
    width: 100%;
}

/*-------------------- nav */
.nav-option-container{
    padding-top: 5px;
    cursor: pointer;
}
ul{
    padding-left: 0;
}
.list-item{
    font-family: "Lato",sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: aliceblue;
}
/*-------------------- Game */
.game-outer{
    padding: 15px;
    height: 95vh;
}

.game-container, .instructions-container, .levelselect-container, .stats-container{
    
    height: 85%;
    background-color: rgba(0,0,0,.5);
    min-height: 45vh;
    padding: 2.5%;
    margin-top: 10px;
    display: none;
}
.lights-container{
    height: 80%;
}
.bulb-section, .switch-section{
    height: 100%
}
.bulb-container.l1{
    height: 50%;
    
}
.bulb-container.l2{
    height: 33.3333%;
}
.level-1,.level-2,.level-3{
    display:none;
}

.bulb-container{
    
    padding-top: 1%
}
.switch-box{
    padding-top: 2px;
}

.bulb{
    margin: auto;
    height: 100%;
}
.bulb-unlit{
    background: url("../img/bulb-unlit.jpg");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
}
.bulb-lit{
    background: url("../img/bulb-lit.jpg");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
}

.switch-container{
    height: 20%;
    padding-top: 2%;
    
}

.switch-box-l2{
    height: 50%
}
.switch-box-l3{
    height: 33%;
}
.switch-outline{
    
    background-color: #4a4949;
    height: 100%;
    width: 60%;
    margin-left:20%;
    
}
/*-------------------- code adapted from https://www.bestcssbuttongenerator.com/#/9 */
.switch{
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #df3b0a 5%, #bc3315 100%);
	background-color:#df3b0a;
	border-radius:3px;
	border:3px solid #361b16;
	display:inline-block;
	cursor:pointer;
	height: 100%;
    width: 100%;
}
.switch:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
/*----------------end of adapted code */

.switch-pressed{
    background-color: darkred;
    background: linear-gradient(to bottom, darkred 50%, darkred 50%);
}

.active-level, .active-container{
    display: block;
}
/*-------------------- Secondary Tabs */
.instructions-container, .levelselect-container, .stats-container{
    padding: 0;
}
hr{
    margin: 0
}
@media(min-height: 550px) and (min-width: 550px){
    .instructions-content{
        margin-top: 50px;
        font-size: 1.2em;
    }
}
.exit-box{
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    float: right;
}
.exit-btn{
    background-color: #1b1b1b;
    height:40px;
    width: 40px
}
.close-symbol{
    color:aliceblue
}
@media(max-height: 400px){
    .shrink-small{
        height: 90%;
    }
    .mini-header{
        height: 1em;
    }
}
hr{
    background-color: aliceblue;
    margin-top: 0;
}
.stats-level-container{
    height: 30%;
}
/*-------------------- Footer */
.footer-container{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    bottom: 0;
    height: 5%;
    min-height: 40px;
    width: 100%
}
.full-size{
    height: 90%;
}
.diff-btn{
    margin: 0 auto;
    width: 80%;
    display: block;
}
.diff-section{
    height: 30%;
}
